.nav-sidebar{ class: ("sidebar-collapsed-desktop" if collapsed_sidebar?) }
  .nav-sidebar-inner-scroll
    .context-header
      = link_to security_root_path, title: _('Security Dashboard'), id: 'logo' do
        .avatar-container.s40.settings-avatar.rect-avatar
          = brand_header_logo
        .sidebar-context-title
          = _('Security')
    %ul.sidebar-top-level-items
      = nav_link(path: %w[dashboard#show]) do
        = link_to security_root_path, class: 'shortcuts-project rspec-project-link' do
          .nav-icon-container
            = sprite_icon('dashboard')
          %span.nav-item-name
            = _('Security Dashboard')
      = nav_link(path: %w[dashboard#settings]) do
        = link_to security_settings_dashboard_path, class: 'shortcuts-project rspec-project-link' do
          .nav-icon-container
            = sprite_icon('settings')
          %span.nav-item-name
            = _('Settings')

    = render 'shared/sidebar_toggle_button'
